
<h2>All Comments</h2>
<br>

<table>
	<tr>
		<th>Comments</th>
		<th>Products</th>
	</tr>
	<% @comments.each do |c| %>
	<tr>
		<td><%= c.comment %></td>
		<td><%= c.product.name %></td>
	</tr>
	<% end %>
</table>

<a href="/products">Back</a>