<!DOCTYPE html>
<html>
<head>
	<title>My Network of Professional Connections</title>
</head>
<body>
 | <a href="/users">All Users</a>
	<h2>Hi <%= current_user.name %>,</h2>

	<p>Here is your professions</p>


</body>
</html>