

<h2>User</h2>

<p>First Name: <%= @show.first_name %></p>
<p>Last Name: <%= @show.last_name %></p>
<p>Email: <%= @show.email %></p>

<a href="/users/<%= @show.id %>/edit">Edit</a> | <a href="/users">Back</a>