<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
</head>
<body>
<a href="/networks">My Profile</a>
<table>
	<tr>
		<th>Name</th>
		<th>Action</th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.name %></td>
		<td><%= link_to "Connect", "/networks/#{user.id}", { controller: 'network', action: 'create', id: user.id, method: 'post' } %></td>
	</tr>
	<% end %>
</table>



</body>
</html>