// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

def session
#register{
		display: inline-block;
		margin: 4px;
	}
fieldset{
	border-radius: 15px;
	}
#login{
	display: inline-block;
	margin: 4px;
	vertical-align: top;
	}
	end