
<form action='/users/update' method='post'>
	<input type="hidden" name="authenticity_token" value='form_authenticiity_token'>
	<input type="text" name="name" placeholder='<%= @edit.name %>'>
	<input type="submit" value="Update">
</form>